#header img{
    width: 75px;
    height: 75px;
}

#header{
    background: #4825CA !important;
}

#main .carousel-item img{
    max-height: 70vh;
    object-fit: cover;
    opacity: 0.7;
}

#carrusel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

body{
    background-color: #CABEF9;
}

#footer{
    background-color: #6546DB;
}

#ponentes p{
    color: black;
}

#lugarFecha img{
    max-width: 100%;
}

#lugarFecha {
    background-color: #F9F7FE;
}

#calendario{
    background-color: #DDD7F4;
}

#calendario table{
    border-color: black;
}

#modal-content{
    background-color: rgb(169, 191, 231);
}

footer a, p{
    color: lightgray;
}
footer a:hover{
    color: gray;
}